<section id="bottom" class="gs-section-bottom">
        <div class="center-l">
            <ul class="link-group">
                <li><a href="browse.html"><pb-i18n key="menu.Start">Parcourir</pb-i18n></a></li>
                <li><a href="people"><pb-i18n key="menu.people">Personnes</pb-i18n></a></li>
                <li><a href="places"><pb-i18n key="menu.places">Lieux</pb-i18n></a></li>
                <li><a href="organizations"><pb-i18n key="menu.organizations">Organisations</pb-i18n></a></li>
            </ul>
            <ul class="link-group">
                <li><a href="search.html"><pb-i18n key="search.results">Recherche</pb-i18n></a></li>
                <li><pb-i18n key="menu.about">À propos</pb-i18n></li>
                <li><pb-i18n key="menu.contact">Contact</pb-i18n></li>
            </ul>
            <div>
                <p>
                    Grand Siècle — Les premiers discours français sur la peinture.
                    Projet de recherche de l'Université de Lausanne — UNIL.
                </p>
            </div>
        </div>
    </section>
