<template>
    ---json
    {
        "templating": {
            "extends": "templates/layouts/content.html"
        },
        "features": {
            "toolbar": {
                "zoom": false,
                "navigation": false
            },
            "timeline": {
                "enabled": false
            },
            "upload": {
                "enabled": false
            }
        },
        "styles": [
            "resources/css/registers-theme.css"
        ],
        "theme": {
            "layout": {
                "footer": {
                    "mobile": {
                        "enabled": false
                    }
                }
            }
        }
    }
    ---
    [% template breadcrumb %]
    <li>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="[[ $context-path ]]/entities"><pb-i18n key="menu.entities">Index</pb-i18n></a></li>
                <li><a href="[[ $context-path ]]/[[ $entity-data?slug ]]"><pb-i18n key="menu.[[ $entity-data?slug ]]">[[ $entity-data?slug ]]</pb-i18n></a></li>
                <li>[[ $entity-data?label ]]</li>
            </ul>
        </nav>
    </li>
    [% endtemplate %]
    <section class="gs-entity-detail gs-entity-detail-[[ $entity-data?type ]]">
        [[ $entity-data?body ]]
        [[ $entity-data?backlinks ]]
    </section>
</template>
